*{
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
a{
    text-decoration: none !important;
}
.tabla{
    width: 100%;
    border: 1px solid #ddd !important;
    text-transform:uppercase;
}
th, td {
    border: 1px solid #ddd !important;
    width: auto !important;
    padding: 15px;
}
#input-autosize{
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.boton{
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
}
.boton-aceptar{
    background-color: #7C7BAD;
    border: 1px solid #dee2e6;
    color: white;
}
.boton-cancelar{
    background-color: white;
    border: 1px solid #dee2e6;
}
#fecha-input{
    color: black;
    font-size: medium;
    background-color:transparent;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 5px;
}

table{
    border-collapse: collapse;
}
.centrar-texto{
    text-align: center;
}
.centrar{
    display: flex;
    justify-content: center;
    align-content: center;

}
.realizar-anuncio{
    display: inline-block;
    min-width: 90%;
    padding: 20px;


}
#areatexto{
    min-width: 100% !important;
    height: 300px;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*background-color: gray;*/
    /*resize: none;*/
}
.notas{
    display: inline-block;
    max-width: 90%;
    padding: 20px;
}

input[type="file"]{
    padding: 6px 0px;
    cursor: pointer;
}
input[type="checkbox"].css-checkbox {
    clip: rect(0 0 0 0); 
    padding:0; 
    border:0;

}