*{
    margin: 0px;
    padding: 0px;
    text-transform:uppercase;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.roles{
    padding: 5px;
    text-align: center;
    width: 100%;
    border: 0px;
}
/*#footer{
    width: 100%;
    height: 50px;
}
#content-footer{
    width: 100%;
    height: 50px;
    background: rgb(22,103,223);
}
#lbl-footer{
    font-size: 18px;
}*/
